
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/dist/css/jquery.mobile-1.4.2.min.css" />

<script type="text/javascript" src="/Content/dist/js/jquery-1.9.1.js"></script>

<script type="text/javascript" src="/Content/dist/js/jquery.mobile-1.4.2.min.js"></script>

   <!-- /.row -->
    <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dollar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Gelir</div>
                            <div>Fiyat Yazacak</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dollar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Gider</div>
                            <div>Fiyat Yazacak</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="giderbtn">
            <a href="#p1" data-role="button" data-inline="true" data-icon="plus" data-rel="popup" data-transition="pop">Gelir Ekle</a>
            <a href="#p2" data-role="button" data-inline="true" data-icon="minus" data-rel="popup" data-transition="pop">Gider Ekle</a>

            <div data-role="popup" id="p1" class="ui-content " data-overlay-theme="b" data-arrow="true" data-position-to="window">
                <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
                <div>
                    <div>Gelir Adı: <input id="geliradi" type="text" /></div><br />
                    <div>Hesap Seçin: </div>
                        <select class="form-control" id="hesapturu" name="HesapTuru">
                                <option>Seçiniz</option>
                                <option>Nakit</option>
                                <option>Maaş</option>
                                
                        </select>
                    <div>Miktar: </div><input id="miktar" type="text" />
                    <div>Tarih: </div><input id="tarih" type="date"/>
                    <input id="kaydet" type="button" value="Kaydet" class="btn btn-primary"/>
                </div>
            </div>
            <div data-role="popup" id="p2" class="ui-content" data-overlay-theme="b" data-arrow="true" data-position-to="window">
                <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>

            </div>

        </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">


        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Kategori Bazlı Gelir / Gider
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Kira
                            <span class="pull-right text-muted small">
                                <em>!-- Fiyatı Yazacak --!</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> Borç Ödemesi
                            <span class="pull-right text-muted small">
                                <em>!-- Fiyatı Yazacak --!</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Fatura
                            <span class="pull-right text-muted small">
                                <em>!-- Fiyatı Yazacak --!</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-tasks fa-fw"></i> Maaş
                            <span class="pull-right text-muted small">
                                <em>!-- Fiyatı Yazacak --!</em>
                            </span>
                        </a>
                    </div>
                </div>
                <!-- /.panel-body -->
                </divclass="panel>


            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
        </div>



